#position1{
	height = 100px;
	weight = 50px;
}
.t{
margin:10% 15%  80% 65%;
-webkit-border-radius:5px;  
-khtml-border-radius:5px; 
border-radius:5px; 
border:0.5px  #e1e6e6;
}
input {
 border:1px solid black;
-webkit-border-radius:5px;  
-khtml-border-radius:5px; 
border-radius:5px; 
 }
 body{background: url(img/633389.jpg) no-repeat center 0}
 .m{
margin:0 20% auto;
 }
 h1{
 margin:5px auto;
 text-shadow:5px 5px 5px #e8eee7;
 }
 h3{
 margin:5px auto;
 text-shadow:5px 5px 5px #e8eee7;
 }
 h4{
 margin:5px auto;
 text-shadow:5px 5px 5px #e8eee7;
 }
 